* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
  font-size: 50px;
  background-color: rgb(97, 185, 102);
}
h1 {
  font-size: 35px;
  color: rgb(244, 247, 244);
}

h2 {
  font-size: 25px;
  color: rgb(244, 247, 244);
}
input {
  margin: 20px;
  height: 30px;
}

input .checkbox {
  width: 15px;
  align-items: center;
}

button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  color: rgb(240, 247, 242);
  background-color: rgb(20, 94, 42);
  transition-duration: 0.4s;
}

button:hover {
  background-color: aquamarine;
  color: aliceblue;
}

ul {
  font-size: 20px;
  align-items: center;
}
